body {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    background-color: lavender;
}

header {
    background-color: skyblue;
    grid-column: 2 / 6;
}

h1 {
    margin-right: 5%;
    font-family: monospace;
    font-size: 300%;
    text-align: right;
}

.view {
    grid-column: 3 / 5;
    margin-top: 10%;
    font-size: 150%;
}

form {
    grid-column: 3 / 4; 
    margin-top: 10%;
}

ul {
    grid-column: 3 / 4;
}

p {
    grid-column: 3 / 5;
    font-family: monospace;
}

h3 {
    font-family: monospace;  
}

li {
    font-size: 150%;
  font-family: monospace;   
}