body {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    background-color: lavender;
}
header {
    background-color: skyblue;
    grid-column: 2 / 6;
    text-align: right;
}

h1 {
    margin-right: 5%;
}

.view {
    grid-column: 3 / 5;
    margin-top: 10%;
}

form {
    grid-column: 3 / 4; 
    margin-top: 10%;
}

ul {
    grid-column: 3 / 4;
}

p {
    grid-column: 3 / 5;
}